*{
    background-color: white;
    
}

h1{
    font-size: 65px;
    text-align: center;
    margin: 0;
    padding: 10px;
    color: cadetblue  ;
    text-shadow: 3px 3px 3px black;
}

html,h4,h1,marquee,body{
    background-image: url("images/paperback.jpg");
}

.container1{
  position: fixed;
  width: 220px;
  left:160px; top:150px;
}

.container2{
  position: fixed;
  width: 220px;
  left:480px; top:150px;
}

.container3{
  position: fixed;
  width: 220px;
  left:800px; top:150px;
}

.container4{
  position: fixed;
  width: 220px;
  left:1120px; top:150px;
}

.container5{
  position: fixed;
  width: 220px;
    left:310px; top:350px;
}

.container6{
  position: fixed;
  width: 220px;
    left:630px; top:350px;
}

.container7{
  position: fixed;
  width: 220px;
    left:950px; top:350px;
}

.container8{
  position: fixed;
  width: 220px;
    left:160px; top:550px;
}

.container9{
  position: fixed;
    height: auto;
  width: 220px;
    left:560px; top:550px; 
}

.container10{
  position: fixed;
  width: 220px;
    left:1020px; top:550px;
}

.image {
  display: block;
  width: 220px;
  height: 150px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 220px;
  height:0;
  transition: .5s ease;
}

.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container2:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container3:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container4:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container5:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container6:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container7:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container8:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container9:hover .overlay {
  bottom: 0;
  height: 100%; 
}

.container10:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: black;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



